@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #080d13f2;
  background-color: #080d13f2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080d13f2;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
